.hero {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-video {
  object-fit: cover;
  filter: brightness(0.6);
  z-index: 0;
}

.hero .container {
  z-index: 1;
  position: relative;
}

.btn-primary {
  background-color: #00a86b;
  border-color: #00a86b;
}

.btn-primary:hover {
  background-color: #007f50;
  border-color: #007f50;
}


/* Responsive */
@media (max-width: 768px) {

}

@media (max-width: 480px) {
    
}