.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    min-height: calc(100vh - 90px);
    gap: 3rem;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.form-container.fade-in {
    opacity: 1;
}

.form-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(95, 67, 67, 0.3);
}

.form-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    /*filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.5));*/
}

.form-signin {
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-signin h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.form-signin p {
    margin-bottom: 2rem;
    font-size: 1rem;
}

.form-signin label {
    margin-bottom: 1.5rem;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    border: 1px solid rgba(239, 68, 68, 0.3);
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.2s;
    box-sizing: border-box;
}

.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
    outline: none;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}