.footer {
    background-color: #1E9E1A ;
    color: white;
    font-weight: bold;
    bottom: 0;
    margin-top: auto;
}


.footer a {
    color: white;
}


.footer a:hover {
    color: #cde7b0;
}

.footer img {
    width: 15vh;
    height: 15vh;
    padding: 0;
    margin: 0;
}

/*color: #1e9e1a;
  color: #a3bfa8; green


  color: #1e9e1a;
  color: #cde7bo;  green


